# K-NN  Algorithm.
# (k - neariest neighbour)

In [1]:
import pandas as pd

In [3]:
from sklearn import preprocessing

In [20]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [5]:
data = pd.read_csv("train.csv")

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,NaN,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,NaN,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           2
Name             0
Sex              0
Age              2
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [8]:
data1 = data.fillna(method="bfill")

In [9]:
data1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,C85,S
1,2,1,3.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C123,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,E46,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,887,0,2.0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B42,S
885,888,1,1.0,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
886,889,0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.4500,C148,S
887,890,1,1.0,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
888,891,0,3.0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
data1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       0
dtype: int64

In [12]:
le = preprocessing.LabelEncoder()

In [13]:
data1["Sex"] = le.fit_transform(data["Sex"])

In [14]:
data1["Embarked"] = le.fit_transform(data["Embarked"])

In [15]:
data1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,C85,2
1,2,1,3.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3.0,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,C123,2
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3.0,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,E46,2
...,...,...,...,...,...,...,...,...,...,...,...,...
884,887,0,2.0,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,B42,2
885,888,1,1.0,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,2
886,889,0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",0,45.0,1,2,W./C. 6607,23.4500,C148,2
887,890,1,1.0,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,0
888,891,0,3.0,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,1

In [16]:
y = data1["Pclass"]

In [17]:
X = data1.drop(columns=["Name","Ticket","PassengerId","Cabin"],axis=1)

In [18]:
X

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0     3.0    1  22.0      1      0   7.2500         2
1           1     3.0    0  38.0      1      0  71.2833         0
2           1     3.0    0  26.0      0      0   7.9250         2
3           1     1.0    0  35.0      1      0  53.1000         2
4           0     3.0    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
884         0     2.0    1  27.0      0      0  13.0000         2
885         1     1.0    0  19.0      0      0  30.0000         2
886         0     3.0    0  45.0      1      2  23.4500         2
887         1     1.0    1  26.0      0      0  30.0000         0
888         0     3.0    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

In [19]:
y

0      3.0
1      3.0
2      3.0
3      1.0
4      3.0
      ...
884    2.0
885    1.0
886    3.0
887    1.0
888    3.0
Name: Pclass, Length: 889, dtype: float64

In [21]:
from sklearn import neighbors

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [30]:
y_test.count()

267

In [23]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)

In [24]:
knn.fit(X_train,y_train).score(X_test,y_test)

0.8876404494382022

In [25]:
y_pred = knn.predict(X_test)

In [26]:
confusion_matrix(y_test,y_pred)

array([[ 62,   5,   2],
       [  7,  31,  11],
       [  3,   2, 144]], dtype=int64)

In [37]:
k=[]
s=[]

In [53]:
def KNN():
    y = data1["Pclass"]
    X = X = data1.drop(columns=["Name","Ticket","PassengerId","Cabin"],axis=1)
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)
    z = y_test.count()
    
    for i in range(1,z):
        knn = neighbors.KNeighborsClassifier(n_neighbors=i)
        k.append(i)
        print("For K=",i,"Value")
        
        print("SCORE is ",knn.fit(X_train,y_train).score(X_test,y_test))
        
        y_pred = knn.predict(X_test)
        print("Confusion matrix")
        print(confusion_matrix(y_test,y_pred))
        print("=================\n")

In [ ]:
KNN()

For K= 1 Value
SCORE is  0.9026217228464419
Confusion matrix
[[ 63   5   1]
 [  3  38   8]
 [  1   8 140]]
=================

For K= 2 Value
SCORE is  0.8913857677902621
Confusion matrix
[[ 67   1   1]
 [  7  38   4]
 [  4  12 133]]
=================

For K= 3 Value
SCORE is  0.8876404494382022
Confusion matrix
[[ 62   5   2]
 [  7  31  11]
 [  3   2 144]]
=================

For K= 4 Value
SCORE is  0.8614232209737828
Confusion matrix
[[ 65   2   2]
 [  7  33   9]
 [  4  13 132]]
=================

For K= 5 Value
SCORE is  0.8651685393258427
Confusion matrix
[[ 59   8   2]
 [  7  31  11]
 [  4   4 141]]
=================

For K= 6 Value
SCORE is  0.8651685393258427
Confusion matrix
[[ 65   3   1]
 [  7  35   7]
 [  4  14 131]]
=================

For K= 7 Value
SCORE is  0.8651685393258427
Confusion matrix
[[ 61   7   1]
 [  7  31  11]
 [  3   7 139]]
=================

For K= 8 Value
SCORE is  0.8614232209737828
Confusion matrix
[[ 61   7   1]
 [  7  35   7]
 [  3  12 134]]
=================

For K= 9 Value
SCORE is  0.8726591760299626
Confusion matrix
[[ 61   7   1]
 [  7  32  10]
 [  3   6 140]]
=================

For K= 10 Value
SCORE is  0.850187265917603
Confusion matrix
[[ 60   8   1]
 [  7  34   8]
 [  3  13 133]]
=================

For K= 11 Value
SCORE is  0.8314606741573034
Confusion matrix
[[ 59   9   1]
 [  7  30  12]
 [  7   9 133]]
=================

For K= 12 Value
SCORE is  0.8389513108614233
Confusion matrix
[[ 60   8   1]
 [  7  32  10]
 [  6  11 132]]
=================

For K= 13 Value
SCORE is  0.8314606741573034
Confusion matrix
[[ 60   8   1]
 [  7  28  14]
 [  6   9 134]]
=================

For K= 14 Value
SCORE is  0.8127340823970037
Confusion matrix
[[ 61   6   2]
 [  8  28  13]
 [  6  15 128]]
=================

For K= 15 Value
SCORE is  0.8164794007490637
Confusion matrix
[[ 60   6   3]
 [  8  27  14]
 [  6  12 131]]
=================

For K= 16 Value
SCORE is  0.8239700374531835
Confusion matrix
[[ 60   6   3]
 [  7  29  13]
 [  6  12 131]]
=================

For K= 17 Value
SCORE is  0.8202247191011236
Confusion matrix
[[ 60   6   3]
 [  7  28  14]
 [  6  12 131]]
=================

For K= 18 Value
SCORE is  0.8127340823970037
Confusion matrix
[[ 60   6   3]
 [  7  28  14]
 [  6  14 129]]
=================

For K= 19 Value
SCORE is  0.8239700374531835
Confusion matrix
[[ 60   6   3]
 [  7  29  13]
 [  6  12 131]]
=================

For K= 20 Value
SCORE is  0.8164794007490637
Confusion matrix
[[ 60   6   3]
 [  7  29  13]
 [  6  14 129]]
=================

For K= 21 Value
SCORE is  0.8127340823970037
Confusion matrix
[[ 60   6   3]
 [  7  27  15]
 [  6  13 130]]
=================

For K= 22 Value
SCORE is  0.797752808988764
Confusion matrix
[[ 60   7   2]
 [  7  27  15]
 [ 10  13 126]]
=================

For K= 23 Value
SCORE is  0.8127340823970037
Confusion matrix
[[ 61   5   3]
 [  7  27  15]
 [  6  14 129]]
=================

For K= 24 Value
SCORE is  0.7940074906367042
Confusion matrix
[[ 61   6   2]
 [  7  27  15]
 [ 10  15 124]]
=================

For K= 25 Value
SCORE is  0.8014981273408239
Confusion matrix
[[ 61   6   2]
 [  7  26  16]
 [  8  14 127]]
=================

For K= 26 Value
SCORE is  0.7902621722846442
Confusion matrix
[[ 61   6   2]
 [  7  25  17]
 [ 10  14 125]]
=================

For K= 27 Value
SCORE is  0.797752808988764
Confusion matrix
[[ 61   6   2]
 [  7  26  16]
 [ 10  13 126]]
=================

For K= 28 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 61   5   3]
 [  7  25  17]
 [ 11  15 123]]
=================

For K= 29 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 61   5   3]
 [  7  25  17]
 [ 10  15 124]]
=================

For K= 30 Value
SCORE is  0.7902621722846442
Confusion matrix
[[ 61   5   3]
 [  7  26  16]
 [ 10  15 124]]
=================

For K= 31 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 61   5   3]
 [  7  24  18]
 [ 10  14 125]]
=================

For K= 32 Value
SCORE is  0.7790262172284644
Confusion matrix
[[ 61   5   3]
 [  7  23  19]
 [ 10  15 124]]
=================

For K= 33 Value
SCORE is  0.7940074906367042
Confusion matrix
[[ 61   5   3]
 [  7  24  18]
 [ 10  12 127]]
=================

For K= 34 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 61   5   3]
 [  7  24  18]
 [ 11  13 125]]
=================

For K= 35 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 61   5   3]
 [  7  23  19]
 [ 11  13 125]]
=================

For K= 36 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 61   5   3]
 [  7  24  18]
 [ 11  13 125]]
=================

For K= 37 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 61   5   3]
 [  7  22  20]
 [ 10  13 126]]
=================

For K= 38 Value
SCORE is  0.7902621722846442
Confusion matrix
[[ 61   5   3]
 [  7  22  20]
 [  8  13 128]]
=================

For K= 39 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 60   5   4]
 [  7  20  22]
 [  8  12 129]]
=================

For K= 40 Value
SCORE is  0.7940074906367042
Confusion matrix
[[ 61   6   2]
 [  7  22  20]
 [  8  12 129]]
=================

For K= 41 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 61   5   3]
 [  7  20  22]
 [  8  12 129]]
=================

For K= 42 Value
SCORE is  0.7940074906367042
Confusion matrix
[[ 61   5   3]
 [  7  22  20]
 [  8  12 129]]
=================

For K= 43 Value
SCORE is  0.7865168539325843
Confusion matrix
[[ 60   5   4]
 [  7  21  21]
 [  8  12 129]]
=================

For K= 44 Value
SCORE is  0.7902621722846442
Confusion matrix
[[ 60   7   2]
 [  7  22  20]
 [  8  12 129]]
=================

For K= 45 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 60   7   2]
 [  7  20  22]
 [  8  12 129]]
=================

For K= 46 Value
SCORE is  0.7827715355805244
Confusion matrix
[[ 60   7   2]
 [  7  20  22]
 [  8  12 129]]
=================

For K= 47 Value
SCORE is  0.7715355805243446
Confusion matrix
[[ 60   7   2]
 [  7  17  25]
 [  8  12 129]]
=================

For K= 48 Value
SCORE is  0.7715355805243446
Confusion matrix
[[ 60   7   2]
 [  7  17  25]
 [  8  12 129]]
=================

For K= 49 Value
SCORE is  0.7752808988764045
Confusion matrix
[[ 61   6   2]
 [  7  17  25]
 [  8  12 129]]
=================

For K= 50 Value
SCORE is  0.7752808988764045
Confusion matrix
[[ 60   7   2]
 [  7  17  25]
 [  7  12 130]]
=================

For K= 51 Value
SCORE is  0.7752808988764045
Confusion matrix
[[ 60   7   2]
 [  7  15  27]
 [  6  11 132]]
=================

For K= 52 Value
SCORE is  0.7752808988764045
Confusion matrix
[[ 60   6   3]
 [  7  16  26]
 [  7  11 131]]
=================

For K= 53 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 60   7   2]
 [  7  12  30]
 [  6  11 132]]
=================

For K= 54 Value
SCORE is  0.7677902621722846
Confusion matrix
[[ 60   6   3]
 [  7  13  29]
 [  6  11 132]]
=================

For K= 55 Value
SCORE is  0.7677902621722846
Confusion matrix
[[ 60   6   3]
 [  7  12  30]
 [  6  10 133]]
=================

For K= 56 Value
SCORE is  0.7715355805243446
Confusion matrix
[[ 61   5   3]
 [  7  12  30]
 [  6  10 133]]
=================

For K= 57 Value
SCORE is  0.7715355805243446
Confusion matrix
[[ 61   5   3]
 [  7  12  30]
 [  6  10 133]]
=================

For K= 58 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 59   5   5]
 [  6  12  31]
 [  6  10 133]]
=================

For K= 59 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 59   5   5]
 [  6  12  31]
 [  6  10 133]]
=================

For K= 60 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 59   5   5]
 [  6  12  31]
 [  6  11 132]]
=================

For K= 61 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 59   5   5]
 [  6  12  31]
 [  6  11 132]]
=================

For K= 62 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 59   5   5]
 [  5  12  32]
 [  6  11 132]]
=================

For K= 63 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 57   5   7]
 [  5  11  33]
 [  6  10 133]]
=================

For K= 64 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 57   5   7]
 [  5  11  33]
 [  6  10 133]]
=================

For K= 65 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 57   5   7]
 [  5  11  33]
 [  6   9 134]]
=================

For K= 66 Value

SCORE is  0.7528089887640449
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   9 134]]
=================

For K= 67 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   8 135]]
=================

For K= 68 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   8 135]]
=================

For K= 69 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 55   7   7]
 [  5  11  33]
 [  6   7 136]]
=================

For K= 70 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 71 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 55   7   7]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 72 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 55   7   7]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 73 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 74 Value
SCORE is  0.7677902621722846
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   5 138]]
=================

For K= 75 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 55   7   7]
 [  5  11  33]
 [  6   5 138]]
=================

For K= 76 Value
SCORE is  0.7677902621722846
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   5 138]]
=================

For K= 77 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 56   6   7]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 78 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 55   6   8]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 79 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 55   5   9]
 [  5  11  33]
 [  6   5 138]]
=================

For K= 80 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 55   5   9]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 81 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 54   5  10]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 82 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 55   4  10]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 83 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 54   5  10]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 84 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 54   5  10]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 85 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 54   5  10]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 86 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 54   6   9]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 87 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 54   6   9]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 88 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 54   6   9]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 89 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 54   6   9]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 90 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 53   6  10]
 [  5  10  34]
 [  6   5 138]]
=================

For K= 91 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 53   6  10]
 [  5  10  34]
 [  6   5 138]]
=================

For K= 92 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 53   6  10]
 [  5  10  34]
 [  6   5 138]]
=================

For K= 93 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52   6  11]
 [  5  10  34]
 [  6   6 137]]
=================

For K= 94 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 53   6  10]
 [  5  10  34]
 [  6   6 137]]
=================

For K= 95 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52   5  12]
 [  5  10  34]
 [  6   6 137]]
=================

For K= 96 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 53   5  11]
 [  5  10  34]
 [  6   6 137]]
=================

For K= 97 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 52   5  12]
 [  5  10  34]
 [  6   7 136]]
=================

For K= 98 Value
SCORE is  0.7378277153558053
Confusion matrix
[[ 52   6  11]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 99 Value
SCORE is  0.7265917602996255
Confusion matrix
[[ 52   6  11]
 [  5  10  34]
 [  6  11 132]]
=================

For K= 100 Value
SCORE is  0.7265917602996255
Confusion matrix
[[ 52   6  11]
 [  5  10  34]
 [  6  11 132]]
=================

For K= 101 Value
SCORE is  0.7303370786516854
Confusion matrix
[[ 52   6  11]
 [  5  10  34]
 [  6  10 133]]
=================

For K= 102 Value
SCORE is  0.7303370786516854
Confusion matrix
[[ 52   8   9]
 [  5  11  33]
 [  6  11 132]]
=================

For K= 103 Value
SCORE is  0.7303370786516854
Confusion matrix
[[ 52   8   9]
 [  5  10  34]
 [  6  10 133]]
=================

For K= 104 Value
SCORE is  0.7378277153558053
Confusion matrix
[[ 52   8   9]
 [  5  12  32]
 [  6  10 133]]
=================

For K= 105 Value
SCORE is  0.7378277153558053
Confusion matrix
[[ 52   6  11]
 [  5  12  32]
 [  6  10 133]]
=================

For K= 106 Value
SCORE is  0.7378277153558053
Confusion matrix
[[ 52   9   8]
 [  5  12  32]
 [  6  10 133]]
=================

For K= 107 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 52   9   8]
 [  5  12  32]
 [  6   9 134]]
=================

For K= 108 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 52   9   8]
 [  5  12  32]
 [  6   9 134]]
=================

For K= 109 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 52  10   7]
 [  5  12  32]
 [  6   9 134]]
=================

For K= 110 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 52   8   9]
 [  5  13  31]
 [  6   8 135]]
=================

For K= 111 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 52  10   7]
 [  5  13  31]
 [  6   8 135]]
=================

For K= 112 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52   9   8]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 113 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52  10   7]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 114 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52  11   6]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 115 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52  11   6]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 116 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 52  11   6]
 [  5  12  32]
 [  6   7 136]]
=================

For K= 117 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52  11   6]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 118 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 52  11   6]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 119 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 51  13   5]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 120 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 51  13   5]
 [  5  12  32]
 [  6   8 135]]
=================

For K= 121 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   8 135]]
=================

For K= 122 Value
SCORE is  0.7378277153558053
Confusion matrix
[[ 52  12   5]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 123 Value
SCORE is  0.7340823970037453
Confusion matrix
[[ 51  13   5]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 124 Value
SCORE is  0.7340823970037453
Confusion matrix
[[ 51  14   4]
 [  5  10  34]
 [  6   8 135]]
=================

For K= 125 Value
SCORE is  0.7415730337078652
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   7 136]]
=================

For K= 126 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 127 Value
SCORE is  0.7453183520599251
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 128 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   6 137]]
=================

For K= 129 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 130 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 131 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 52  12   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 132 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 133 Value

SCORE is  0.7528089887640449
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 134 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 135 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 136 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 137 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 138 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 139 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 140 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 141 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   3 140]]
=================

For K= 142 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 143 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   4 139]]
=================

For K= 144 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   2 141]]
=================

For K= 145 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   2 141]]
=================

For K= 146 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51  13   5]
 [  5  11  33]
 [  6   2 141]]
=================

For K= 147 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   1 142]]
=================

For K= 148 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   1 142]]
=================

For K= 149 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   1 142]]
=================

For K= 150 Value
SCORE is  0.7640449438202247
Confusion matrix
[[ 51  12   6]
 [  5  11  33]
 [  6   1 142]]
=================

For K= 151 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51  11   7]
 [  5  10  34]
 [  6   1 142]]
=================

For K= 152 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51   9   9]
 [  5  10  34]
 [  6   1 142]]
=================

For K= 153 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51   9   9]
 [  5  10  34]
 [  6   1 142]]
=================

For K= 154 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51   9   9]
 [  5  10  34]
 [  6   1 142]]
=================

For K= 155 Value
SCORE is  0.7602996254681648
Confusion matrix
[[ 51   9   9]
 [  5  10  34]
 [  6   1 142]]
=================

For K= 156 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51   9   9]
 [  5   9  35]
 [  6   1 142]]
=================

For K= 157 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51   9   9]
 [  5   9  35]
 [  6   1 142]]
=================

For K= 158 Value
SCORE is  0.7565543071161048
Confusion matrix
[[ 51   9   9]
 [  5   8  36]
 [  6   0 143]]
=================

For K= 159 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51   9   9]
 [  5   7  37]
 [  6   0 143]]
=================

For K= 160 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51   9   9]
 [  5   7  37]
 [  6   0 143]]
=================

For K= 161 Value
SCORE is  0.7528089887640449
Confusion matrix
[[ 51   9   9]
 [  5   7  37]
 [  6   0 143]]
=================

For K= 162 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 51   9   9]
 [  5   6  38]
 [  6   0 143]]
=================

For K= 163 Value
SCORE is  0.7490636704119851
Confusion matrix
[[ 51   9   9]
 [  5   6  38]
 [  6   0 143]]
=================

For K= 164 Value
SCORE is  0.7490636704119851
Confusion matrix