# Assignment: -    Naive Bayes Theorem
## First take pclass , gender, SibSP , ParCh, Embarked as dependent variable one by one and  others as the independent variable and find the confusion matrix. Using looping or  function how can you minimize the code.

In [23]:
import pandas as pd

In [24]:
data= pd.read_csv("C:/Users/Kishor/Desktop/AI ML/Day 25/train.csv")

In [25]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
from sklearn import preprocessing

In [27]:
from sklearn.naive_bayes import GaussianNB

In [28]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
le = preprocessing.LabelEncoder()

In [31]:
data["Sex"] = le.fit_transform(data["Sex"])
print(le.classes_)
data["Embarked"] = le.fit_transform(data["Embarked"])

['female' 'male']

In [32]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [33]:
print(le.classes_)

['C' 'Q' 'S']

In [49]:
data1 = data.drop(["Name","Ticket","Cabin","PassengerId"],axis=1)

In [50]:
data1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [51]:
from sklearn.naive_bayes import *

In [52]:
data1.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [59]:
col = ['Pclass', 'Sex', 'SibSp', 'Parch',
       'Embarked']

In [60]:
for i in col:
    y = data1[i]
    X = data1.drop(i,axis=1)
    X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)
    clf = BernoulliNB()
    print("\nDependent Variable is ",i)
    y_pred = clf.fit(X_train,y_train).predict(X_test)
    print("Accuracy Score = ",accuracy_score(y_test,y_pred,normalize=True)*100)
    print("Confussion Matrix\n",confusion_matrix(y_test,y_pred))
    print("========================================")

Dependent Variable is  Pclass
Accuracy Score =  59.176029962546814
Confussion Matrix
 [[ 30   8  32]
 [  9  10  30]
 [ 24   6 118]]
========================================

Dependent Variable is  Sex
Accuracy Score =  74.53183520599251
Confussion Matrix
 [[ 49  49]
 [ 19 150]]
========================================

Dependent Variable is  SibSp
Accuracy Score =  68.91385767790263
Confussion Matrix
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]
========================================

Dependent Variable is  Parch
Accuracy Score =  71.53558052434457
Confussion Matrix
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]
========================================

Dependent Variable is  Embarked
Accuracy Score =  73.40823970037454
Confussion Matrix
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]
========================================