# Project 3: Build Decision Tree for Bank Loan Modelling

# DV - "Personal Loan"
# IDV - Output of RF Algorithm

In [22]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [23]:
data =pd.read_excel("C:/Users/Kishor/Desktop/AI ML/Day 24/day_24_dataset/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [24]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [25]:
data.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [26]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [32]:
data1 =data.drop(["ID","ZIP Code"],axis=1)

In [33]:
data1.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [37]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   Family              5000 non-null   int64
 4   CCAvg               5000 non-null   float64
 5   Education           5000 non-null   int64
 6   Mortgage            5000 non-null   int64
 7   Personal Loan       5000 non-null   int64
 8   Securities Account  5000 non-null   int64
 9   CD Account          5000 non-null   int64
 10  Online              5000 non-null   int64
 11  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 468.9 KB

In [34]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [35]:
features = ['Age', 'Experience', 'Income','Family', 'CCAvg',
       'Education', 'Mortgage','Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [39]:
rf_model.fit(X=data1[features],y=data1["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [41]:
print("OBB SCORE = ",rf_model.oob_score_)

OBB SCORE =  0.988

In [43]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.044944257836184845
Experience 0.04464825423959661
Income 0.34774424768411866
Family 0.09533228953003375
CCAvg 0.18379258042139682
Education 0.16127156806761928
Mortgage 0.044156115882928434
Securities Account 0.005602905196030539
CD Account 0.05375742718577077
Online 0.008530718185697906
CreditCard 0.010219635770622472

In [52]:
imp_features = []

In [53]:
for feature,imp in zip(features,rf_model.feature_importances_):
    if imp >0.06:
        imp_features.append(feature)

In [54]:
print(imp_features)

['Income', 'Family', 'CCAvg', 'Education']

# Pridiction

In [55]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [56]:
predictor =pd.DataFrame([data1["Income"],data1["Family"],data1["CCAvg"],data1["Education"]]).T

In [57]:
tree_model.fit(X=predictor,y=data1["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [58]:
with open("Dtree2.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=['Income', 'Family', 'CCAvg', 'Education'],out_file=f);

In [60]:
print("MODEL ACCURACY SCORE = ",tree_model.score(X=predictor,y=data1["Personal Loan"])*100)

MODEL ACCURACY SCORE =  99.56