# Project 2: Build Decision Tree for Attrition Rate Analysis

# # 1.DV - "Attrition"   2. IDV - Output of RF Algorithm

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("C:/Users/Kishor/Desktop/AI ML/Day 24/Project 2/general_data.csv")

In [3]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
data.shape

(4410, 24)

In [6]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [9]:
le = preprocessing.LabelEncoder()

In [10]:
data["Attrition"] = le.fit_transform(data["Attrition"])
data["Gender"] = le.fit_transform(data["Gender"])
data["JobRole"] = le.fit_transform(data["JobRole"])
data["MaritalStatus"] = le.fit_transform(data["MaritalStatus"])
data["BusinessTravel"] = le.fit_transform(data["BusinessTravel"])
data["Department"] = le.fit_transform(data["Department"])
data["EducationField"] = le.fit_transform(data["EducationField"])

In [11]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [12]:
data.drop(["EmployeeID","Over18","StandardHours","EmployeeCount","TotalWorkingYears","NumCompaniesWorked"],axis=1,inplace=True)

In [13]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [22]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'PercentSalaryHike',
       'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [23]:
rf_model.fit(X=data[features],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
print("OBB SCORE = ",rf_model.oob_score_)

OBB SCORE =  1.0

In [25]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.1176889649017944
BusinessTravel 0.03182989697157379
Department 0.029333986761683323
DistanceFromHome 0.08106335316695157
Education 0.04679223362895848
EducationField 0.0461001885982237
Gender 0.02151665675403882
JobLevel 0.04280709475111395
JobRole 0.06308612310683942
MaritalStatus 0.04387514200787808
MonthlyIncome 0.10901318393904093
PercentSalaryHike 0.07717097400927542
StockOptionLevel 0.03840578320333373
TrainingTimesLastYear 0.05063973678205235
YearsAtCompany 0.08718938254276916
YearsSinceLastPromotion 0.04902559834459518
YearsWithCurrManager 0.06446170052987779

In [30]:
for feature,imp in zip(features,rf_model.feature_importances_):
    if imp > 0.08:
        print(feature)

Age
DistanceFromHome
MonthlyIncome
YearsAtCompany

In [31]:
predictor = pd.DataFrame([data["Age"],data["DistanceFromHome"],data["MonthlyIncome"],data["YearsAtCompany"]]).T

In [36]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [37]:
tree_model.fit(X=predictor,y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
with open("Dtree 1.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","Distance From Home","Monthly Income","Years At Company"],out_file=f);

In [42]:
print("MODEL ACCURACY SCORE = ",tree_model.score(X=predictor,y=data["Attrition"])*100)

MODEL ACCURACY SCORE =  89.65986394557824