__Question 1:__

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [3]:
a = input("Enter the Email Address")
x = a.index("@")
print("Output:")
print(a[x+1:len(a)-4],end = "")

Enter the Email Addresskishor@idea.com
Output:
idea

__Question 2:__

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [23]:
l=[]
x = input("enter words seperated by commas")
print(x)
x1 = sorted(x)
print(x1)

enter words seperated by commasgcfgbc,jgfh,jfc,aec
gcfgbc,jgfh,jfc,aec
[',', ',', ',', 'a', 'b', 'c', 'c', 'c', 'c', 'e', 'f', 'f', 'f', 'g', 'g', 'g', 'h', 'j', 'j']

__Question 3:__

Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [25]:
s = {"apple","banana","grapes","pinapple"}
print(s)

{'pinapple', 'grapes', 'banana', 'apple'}

In [26]:
s = {"apple","banana","grapes","pinapple"}
for i in s:
    print(i)

pinapple
grapes
banana
apple

In [28]:
s = {"apple","banana","grapes","pinapple"}

print("grapes" in s)

True

In [31]:
s = {"apple","banana","grapes","pinapple"}
s.add("orange")
s

{'apple', 'banana', 'grapes', 'orange', 'pinapple'}

In [33]:
s = {"apple","banana","grapes","pinapple"}
s.update(["mango","chicku"])
print(s)

{'grapes', 'chicku', 'apple', 'mango', 'pinapple', 'banana'}

In [34]:
s = {"apple","banana","grapes","pinapple"}
print(len(s))

4

In [37]:
s = {'grapes', 'chicku', 'apple', 'mango', 'pinapple', 'banana'}
s.remove("apple")
print(s)

{'grapes', 'chicku', 'mango', 'pinapple', 'banana'}

In [40]:
s = {'grapes', 'chicku', 'apple', 'mango', 'pinapple', 'banana'}
s.pop()
s

{'apple', 'banana', 'chicku', 'mango', 'pinapple'}

In [42]:
s1= {"a","c","d","e"}
s2={1,2,6,4,5}

s3=s1.union(s2)
s3

{1, 2, 4, 5, 6, 'a', 'c', 'd', 'e'}

In [43]:
k = set(('grapes', 'chicku', 'apple', 'mango', 'pinapple', 'banana'))
print(k)

{'grapes', 'chicku', 'apple', 'mango', 'pinapple', 'banana'}

__Question 4:__

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [32]:
def missing_no(A):
    n=len(A)
    print("Length of list",n)
    total= (n+1)*(n+2)/2
    print("Total = ",total)
    sum_ = sum(A)
    print("Sum = ",sum_)
    X = total - sum_
    print("Missing no. = ",X)
    
A= [1,2,3,4,6,5,8,9]
miss = missing_no(A)

Length of list 8
Total =  45.0
Sum =  38
Missing no. =  7.0

__Question 5:__

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [35]:
def remove(L):
    final = []
    for num in L:
        if num not in final:
            final.append(num)
    return final

L = [12,24,35,24,88,120,155,88,120,155]
remove(L)

[12, 24, 35, 88, 120, 155]